# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- master

pr:
  autoCancel: true
  # PRs into ...
  branches:
    include:
    - master

jobs:

- job: 'Test'
  strategy:
    matrix:
      Python35-ubuntu:
        python.version: '3.5'
        imageName: 'ubuntu-16.04'
      Python36-ubuntu:
        python.version: '3.6'
        imageName: 'ubuntu-16.04'
      Python37-ubuntu:
        python.version: '3.7'
        imageName: 'ubuntu-16.04'
      Python37-mac:
        python.version: '3.7'
        imageName: 'macos-10.13'
      Python37-windows:
        python.version: '3.7'
        imageName: 'vs2017-win2016'
    maxParallel: 10
  pool:
    vmImage: $(imageName)

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      architecture: 'x64'

  - script: |
      python -m pip install --upgrade pip
      pip install . --no-binary evo
      evo_config set plot_backend Agg
    displayName: 'Install and configure package and dependencies'

  - script: |
      pip install pytest
      pytest -sv --junitxml=junit/test-results.xml
    displayName: 'pytest'

  - task: PublishTestResults@2
    inputs:
      testResultsFiles: '**/test-results.xml'
      testRunTitle: 'Python $(python.version)'
    condition: succeededOrFailed()

- job: 'Publish'
  dependsOn: 'Test'
  pool:
    vmImage: 'Ubuntu-16.04'

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.x'
      architecture: 'x64'

  - script: python setup.py sdist
    displayName: 'Build sdist'

# Currently, that's it. No actual deployment.
